/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {} */
/* @media (max-width: 1290px) {} */
@media (max-width: 1140px) {
    
    .product_container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        row-gap: 30px;
    }

    
}
/* @media (max-width: 1024px) {} */
@media (max-width: 992px) {
    /* .nav {
        padding: 20px 0;
    }
    
    .list {
        display: none;
    }

    .nav__menu {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
    }

    .nav__line {
        width: 100%;
        height: 2px;
        background: #fff;
        position: relative;
        transition: .4s;
    }

    .nav__line::before,
    .nav__line::after {
        content: '';
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: .4s;
    }

    .nav__line::after {
        top: 10px;
    }

    .nav__menu:hover .nav__line {
        background: transparent;
    }

    .nav__menu:hover .nav__line::before {
        top: 0;
        transform: rotate(45deg);
    }
    .nav__menu:hover .nav__line::after {
        top: 0;
        transform: rotate(-45deg);
    } */

    .nav {
        padding: 20px 0;
      }
      .nav__menu {
        width: 50px;
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: 500ms;
        transition: 500ms;
        z-index: 999;
      }
      .nav__menu.active {
        width: 25px;
        height: 25px;
        -webkit-transform: translate(10px, -20px);
                transform: translate(10px, -20px);
      }
      .nav__line {
        position: relative;
        width: 100%;
        height: 2px;
        background: #FFF;
        -webkit-transition: 500ms;
        transition: 500ms;
      }
      .nav__line.active {
        background: transparent;
      }
      .nav__line.active::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0;
        width: 100%;
      }
      .nav__line.active::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 0;
        width: 100%;
      }
      .nav__line::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 60%;
        height: 100%;
        background: #FFF;
        -webkit-transition: 500ms;
        transition: 500ms;
      }
      .nav__line::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 80%;
        height: 100%;
        background: #FFF;
        -webkit-transition: 500ms;
        transition: 500ms;
      }
      .list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transform: scale(0);
                transform: scale(0);
        background: var(--body);
        -webkit-transition: 500ms;
        transition: 500ms;
        -webkit-box-shadow: 0 0 35px 5px var(--link);
                box-shadow: 0 0 35px 5px var(--link);
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
      }
      .list.active {
        -webkit-transform: scale(1);
                transform: scale(1);
                background: #322E41;
                flex-direction: column;
      }
      .link {
        margin: 0;
        padding: 32px 42px;
      }
}
@media (max-width: 768px) {
    .product_cards {
        overflow: hidden;
        display: flex;
        column-gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        margin-top: 20px;
      
    }

    .product_card {
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .product_card:nth-of-type(3), .product_card:nth-of-type(4) {
        margin-top: 0;
    }

}
/* @media (max-width: 736px) {} */
/* @media (max-width: 734px) {} */
@media (max-width: 684px) {
    .footer_form {
        margin-bottom: 20px;
    }
    
    .footer_container {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .footer_nav {
        flex-direction: column;
    }
}
/* @media (max-width: 667px) {} */
/* @media (max-width: 576px) {} */
/* @media (max-width: 414px) {} */
/* @media (max-width: 412px) {} */
/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */